//Header Section
.headerSection {
  height: 100px;
  background: #f9f9f9;
  .mainLogo {
    svg {
      height: 80px;
      width: auto;
    }
  }
  .mainNavigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
    gap: 20px;
    li {
      a {
        font-size: 16px;
        color: #000;
        text-decoration: none;
        border: 1px solid #000;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0px 20px;
        font-weight: 500;
        text-transform: capitalize;
        border-radius: 5px;
        &:hover {
          color: #fff;
          border: 1px solid #fe0308;
          background: #fe0308;
        }
      }
    }
  }
}
.LoadingIcon {
  margin: auto;
  width: 100%;
  height: 100%;
  display: block;
  svg {
    width: 200px;
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.redColor {
  background: #fe0308;
  color: #fff;
  font-weight: 600;
  padding-left: 10px;
}
.YellowColor{
   background: #ffc107;
  color: #000;
  font-weight: 600;
  padding-left: 10px;
}
.greenColor {
  color: #fff;
  font-weight: 600;
  background: green;
  padding-left: 10px;
}
.DetailsListing {
  .redColor {
    padding-left: 0px;
  }
  .greenColor {
    padding-left: 0px;
  }
}
// MainSection
.mainSection {
  height: 100vh;
  padding-top: 50px;
  h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
    color: #333;
  }
  .container {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    .listingTable {
      table {
        thead {
          tr {
            th {
              font-weight: 600;
              font-size: 15px;
              height: 50px;
              line-height: 50px;
              padding: 0px;
              &:first-child {
                padding-left: 10px;
              }
              &:last-child {
                text-align: center;
              }
            }
          }
        }
        tbody {
          tr {
            td {
              font-weight: 400;
              font-size: 15px;
              height: 50px;
              line-height: 50px;
              padding: 0px;
              &:first-child {
                padding-left: 10px;
              }
              &:last-child {
                text-align: right;
                padding: 0px;
                display: flex;
                height: 50px;
                align-items: center;
                align-items: center;
              }
              a {
                font-size: 13px;
                color: #000;
                text-decoration: none;
                border: 1px solid #000;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                font-weight: 500;
                text-transform: capitalize;
                margin: auto;
                border-radius: 5px;
                &:hover {
                  color: #fff;
                  border: 1px solid #fe0308;
                  background: #fe0308;
                }
              }
            }
          }
        }
      }
    }
    .DetailsListing {
      table {
        thead {
          tr {
            display: flex;
            th {
              font-weight: 600;
              font-size: 15px;
              height: 50px;
              line-height: 50px;
              padding: 0px;
              flex: 0 0 calc(100% / 12);
            }
          }
        }
        tbody {
          tr {
            display: flex;
            td {
              font-weight: 400;
              font-size: 15px;
              height: 50px;
              line-height: 50px;
              padding: 0px;
              flex: 0 0 calc(100% / 12);
            }
          }
        }
      }
    }

    .addUserFrom {
      .mainFromBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        input {
          flex: 0 0 calc(50% - 10px);
          width: 100%;
          margin-bottom: 20px;
          height: 50px;
          padding: 0px 0px 0px 10px;
          font-weight: 400;
          font-size: 15px;
          border-radius: 5px;
          border: 1px solid rgba(0, 0, 0, 0.5);
          outline: none;
          box-shadow: none;
          color: #000;
          &::placeholder {
            color: #000;
          }
          &[type="number"] {
            -moz-appearance: textfield;
          }
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }

          &[type="date"] {
            position: relative;

            &::-webkit-calendar-picker-indicator {
              opacity: 0;
              cursor: pointer;
              position: absolute;
              top: 0;
              right: 0;
              width: 100%;
              height: 100%;
            }
          }
        }
        select {
          flex: 0 0 calc(50% - 10px);
          width: 100%;
          margin-bottom: 20px;
          height: 50px;
          padding: 0px 0px 0px 10px;
          font-weight: 400;
          font-size: 15px;
          border-radius: 5px;
          border: 1px solid rgba(0, 0, 0, 0.5);
          outline: none;
          box-shadow: none;
          color: #000;
        }
      }
      .flexBtn {
        display: flex;
        gap: 10px;
        button {
          height: 40px;
          width: 160px;
          font-size: 15px;
        }
      }
      button {
        font-size: 16px;
        color: #000;
        text-decoration: none;
        border: 1px solid #000;
        height: 50px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
        font-weight: 500;
        text-transform: capitalize;
        border-radius: 5px;
        background: transparent;

        &:hover {
          color: #fff;
          border: 1px solid #fe0308;
          background: #fe0308;
        }
      }
    }
    .headingSec {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      div {
        flex: 0 0 50%;
        .btnCommon {
          font-size: 14px;
          color: #000;
          text-decoration: none;
          border: 1px solid #000;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 200px;
          padding: 0px 20px;
          font-weight: 500;
          text-transform: capitalize;
          border-radius: 5px;
          margin-left: auto;
          cursor: pointer;

          &:hover {
            color: #fff;
            border: 1px solid #fe0308;
            background: #fe0308;
          }
        }
        &:last-child {
          .mainSelectBox {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap:10px;
            label {
              font-size: 20px;
              color: #000;
              margin-right: 10px;
              font-weight: 500;
              display: block;
            }
            select {
                  width: 100%;
              height: 50px;
              padding: 0px 0px 0px 10px;
              font-weight: 500;
              font-size: 15px;
              border-radius: 5px;
              border: 1px solid rgba(0, 0, 0, 0.5) !important;
              outline: none;
              box-shadow: none;
              color: #000;
              option {
                font-weight: 500;
                font-size: 15px;
                border: 0px;
              }
            }
            input {
               width: 100%;
                height: 50px;
              padding: 0px 0px 0px 10px;
              font-weight: 400;
              font-size: 15px;
              border-radius: 5px;
              border: 1px solid rgba(0, 0, 0, 0.5);
              outline: none;
              box-shadow: none;
              color: #000;
              &::placeholder {
                color: #000;
              }
            }
          }
        }
      }
    }
    .userInfo {
      display: flex;
      justify-items: center;
      .imageBox {
        flex: 0 0 30%;
        .LoadingIcon {
          width: 200px;
          height: 200px;
          margin: 0px;
          svg {
            width: 120px;
            height: 120px;
          }
        }
        .boxFileImage {
          width: 200px;
          height: 200px;
          border-radius: 100%;
          position: relative;
          margin-bottom: 10px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
          }
          input {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            background: transparent;
            font-size: 0;
            border-radius: 100%;
            z-index: 2;
            cursor: pointer;
          }
        }
        .userImagePrev {
          width: 200px;
          border-radius: 100%;
          height: 200px;
          position: relative;
          z-index: 9;
          margin-bottom: 10px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100% !important;
          }
        }
        .deleteBtn {
          position: absolute;
          right: 5px;
          top: 5px;
          z-index: 99;
          cursor: pointer;
          svg {
            width: 35px;
            height: 35px;
          }
        }
      }
      .userListItem {
        flex: 0 0 70%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        flex-wrap: wrap;

        .userName {
          flex: 0 0 calc(100% / 1);
          border-bottom: 1px solid #dddddd;
          padding: 5px 10px;
          &:first-child {
            border-left: 0px;
          }
          strong {
            width: 300px;
            display: inline-block;
            padding-right: 100px;
          }
        }
      }
    }
  }
}
